<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>Login - {{ title }} </title>
	{% else %}
		<title>Login</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
	<nav>
		{% if current_user.is_authenticated %}
		<li><a href="/"> Home </a></li>
		<li><a href="/new_post"> Isi Konten </a></li>
		<li><a href="/upload_gambar"> Upload gambar </a></li>
		<li><a href="/logout"> Keluar </a></li>
		{% else %}
		<li><a href="/"> Home </a></li>
		<li><a href="/login"> Login </a></li>
		<li><a href="/register"> Register </a></li>
		{% endif %}
	</nav>
	<div>
		{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
	</div>
 	<div class="container">
 		{% block content %} {% endblock %}
 	</div>


</body>
</html>